In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
weather=pd.read_csv(r"C:\Users\hp\Desktop\python\机器学习菜菜\sklearnjqxx_jb51\【机器学习】菜菜的sklearn课堂(1-12全课)\08支持向量机下\weatherAUS5000.csv")
weather.head()
#ctrl+shift+-拆分cell
#按住shift选中两个cell，按住shift+m合并cell
#按下esc+a会在上方添加cell
#按下esc+b在下方添加cell

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2015-3-24,Adelaide,12.3,19.3,0.0,5.0,NaN,S,39.0,S,...,19.0,59.0,47.0,1022.2,1021.4,NaN,NaN,15.1,17.7,No
1,2011-7-12,Adelaide,7.9,11.4,0.0,1.0,0.5,N,20.0,NNE,...,7.0,70.0,59.0,1028.7,1025.7,NaN,NaN,8.4,11.3,No
2,2010-2-8,Adelaide,24.0,38.1,0.0,23.4,13.0,SE,39.0,NNE,...,19.0,36.0,24.0,1018.0,1016.0,NaN,NaN,32.4,37.4,No
3,2016-9-19,Adelaide,6.7,16.4,0.4,NaN,NaN,N,31.0,N,...,15.0,65.0,40.0,1014.4,1010.0,NaN,NaN,11.2,15.9,No
4,2014-3-5,Adelaide,16.7,24.8,0.0,6.6,11.7,S,37.0,S,...,24.0,61.0,48.0,1019.3,1018.9,NaN,NaN,20.8,23.7,No

In [4]:
X=weather.iloc[:,:-1]
Y=weather.iloc[:,-1]

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           5000 non-null   object
 1   Location       5000 non-null   object
 2   MinTemp        4979 non-null   float64
 3   MaxTemp        4987 non-null   float64
 4   Rainfall       4950 non-null   float64
 5   Evaporation    2841 non-null   float64
 6   Sunshine       2571 non-null   float64
 7   WindGustDir    4669 non-null   object
 8   WindGustSpeed  4669 non-null   float64
 9   WindDir9am     4651 non-null   object
 10  WindDir3pm     4887 non-null   object
 11  WindSpeed9am   4949 non-null   float64
 12  WindSpeed3pm   4919 non-null   float64
 13  Humidity9am    4936 non-null   float64
 14  Humidity3pm    4880 non-null   float64
 15  Pressure9am    4506 non-null   float64
 16  Pressure3pm    4504 non-null   float64
 17  Cloud9am       3111 non-null   float64
 18  Cloud3pm       3012 non-null   float64
 19  Temp9am        4967 non-null   float64
 20  Temp3pm        4912 non-null   float64
dtypes: float64(16), object(5)
memory usage: 820.4+ KB

In [6]:
X.isnull().mean()
#探索缺失值所占总值的比例

Date             0.0000
Location         0.0000
MinTemp          0.0042
MaxTemp          0.0026
Rainfall         0.0100
Evaporation      0.4318
Sunshine         0.4858
WindGustDir      0.0662
WindGustSpeed    0.0662
WindDir9am       0.0698
WindDir3pm       0.0226
WindSpeed9am     0.0102
WindSpeed3pm     0.0162
Humidity9am      0.0128
Humidity3pm      0.0240
Pressure9am      0.0988
Pressure3pm      0.0992
Cloud9am         0.3778
Cloud3pm         0.3976
Temp9am          0.0066
Temp3pm          0.0176
dtype: float64

In [7]:
#探索标签的分类
np.unique(Y)#说明标签是二分类

array(['No', 'Yes'], dtype=object)

In [8]:
Y.isnull().sum()#标签没有缺失

0

In [9]:
#分训练集和测试集
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=420)
#分完了索引会变乱，所以要恢复索引

In [10]:
#恢复索引
for i in [Xtrain,Xtest,Ytrain,Ytest]:
    i.index=range(i.shape[0])

In [11]:
#处理好了训练集和测试集，接下来看看标签是否存在不均衡问题
Ytrain.value_counts()

No     2704
Yes     796
Name: RainTomorrow, dtype: int64

In [12]:
Ytest.value_counts()

No     1157
Yes     343
Name: RainTomorrow, dtype: int64

In [13]:
#发现有一些样本不均衡，但是并不是很极端的样本不平衡

In [14]:
#将标签编码
from sklearn.preprocessing import LabelEncoder
encorder=LabelEncoder().fit(Ytrain)
#按照Ytrain中的数据fit，然后就认得了有YES和NO两类，然后根据这个fit来transform
#如果Ytest中有除了YES和NO外的类（比如UNKNOWN），那么transform就会报错
Ytrain=pd.DataFrame(encorder.transform(Ytrain))
Ytest=pd.DataFrame(encorder.transform(Ytest))

In [15]:
#现在要探索特征，处理特征矩阵
#描述性统计
Xtrain.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,3486.0,12.225645,6.396243,-6.5,-1.715,1.800,4.1,7.7,12.0,16.7,20.9,25.900,29.0
MaxTemp,3489.0,23.245543,7.201839,-3.7,8.888,12.840,14.5,18.0,22.5,28.4,33.0,40.400,46.4
Rainfall,3467.0,2.487049,7.949686,0.0,0.000,0.000,0.0,0.0,0.0,0.8,6.6,41.272,115.8
Evaporation,1983.0,5.619163,4.383098,0.0,0.400,0.800,1.4,2.6,4.8,7.4,10.2,20.600,56.0
Sunshine,1790.0,7.508659,3.805841,0.0,0.000,0.345,1.4,4.6,8.3,10.6,12.0,13.300,13.9
WindGustSpeed,3263.0,39.858413,13.219607,9.0,15.000,20.000,24.0,31.0,39.0,48.0,57.0,76.000,117.0
WindSpeed9am,3466.0,14.046163,8.670472,0.0,0.000,0.000,4.0,7.0,13.0,19.0,26.0,37.000,65.0
WindSpeed3pm,3437.0,18.553390,8.611818,0.0,2.000,6.000,7.0,13.0,19.0,24.0,30.0,43.000,65.0
Humidity9am,3459.0,69.069095,18.787698,2.0,18.000,35.000,45.0,57.0,70.0,83.0,94.0,100.000,100.0
Humidity3pm,3408.0,51.651995,20.697872,2.0,9.000,17.000,23.0,37.0,52.0,66.0,79.0,98.000,100.0
Pressure9am,3154.0,1017.622067,7.065236,985.1,1000.506,1006.100,1008.9,1012.8,1017.6,1022.3,1027.0,1033.247,1038.1
Pressure3pm,3154.0,1015.227077,7.032531,980.2,998.000,1004.000,1006.5,1010.3,1015.2,1020.0,1024.4,1030.800,1036.0
Cloud9am,2171.0,4.491939,2.858781,0.0,0.000,0.000,1.0,1.0,5.0,7.0,8.0,8.000,8.0
Cloud3pm,2095.0,4.603819,2.655765,0.0,0.000,0.000,1.0,2.0,5.0,7.0,8.0,8.000,8.0
Temp9am,3481.0,16.989859,6.537552,-5.2,2.400,7.000,9.0,12.2,16.6,21.6,26.0,31.000,38.0
Temp3pm,3431.0,21.719003,7.031199,-4.1,7.460,11.500,13.3,16.6,21.0,26.6,31.4,38.600,45.9

In [16]:
#对于去kaggle上下载了数据的小伙伴们，以及对于坚持要使用完整版数据的（15W行）数据的小伙伴们
#如果你发现了异常值，首先你要观察，这个异常值出现的频率
#如果异常值只出现了一次，多半是输入错误，直接把异常值删除
#如果异常值出现了多次，去跟业务人员沟通，人为造成的错误异常值留着是没有用的
#如果异常值占到你总数据量的10%左右了 - 把异常值替换成非异常但是非干扰的项，比如说用0来进行替换，或者把异常当缺失

In [17]:
#先查看原始的数据结构
Xtrain.shape

(3500, 21)

In [18]:
Xtest.shape

(1500, 21)

In [19]:
#接下来对数据进行预处理
#首先处理算法理解困难的特征
#探索日期与天气的关系
#首先，日期是连续型还是分类型特征
#答：日期是一年分了365类的分类型变量
#我们的日期特征中，日期是否有重复，如果有重复说明日期不是主键
#接下来先来看看日期是否有重复
Xtrainc=Xtrain.copy()
Xtrain.iloc[:,0].value_counts()
#我们发现并不是唯一值，说明日期重复

2015-7-3      6
2014-5-16     6
2015-10-12    6
2010-5-18     5
2012-7-18     5
             ..
2016-2-22     1
2009-5-3      1
2010-11-2     1
2010-4-2      1
2015-4-30     1
Name: Date, Length: 2141, dtype: int64

In [20]:
#光看日期这个变量，其实感觉对下雨的判断没有直接影响，反而是光照，湿度等有影响

In [21]:
#将“location”排序，看看日期是怎样的变化
Xtrainc.sort_values(by="Location")

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
2796,2015-3-24,Adelaide,12.3,19.3,0.0,5.0,NaN,S,39.0,S,...,13.0,19.0,59.0,47.0,1022.2,1021.4,NaN,NaN,15.1,17.7
2975,2012-8-17,Adelaide,7.8,13.2,17.6,0.8,NaN,SW,61.0,SW,...,20.0,28.0,76.0,47.0,1012.5,1014.7,NaN,NaN,8.3,12.5
775,2013-3-16,Adelaide,17.4,23.8,NaN,NaN,9.7,SSE,46.0,S,...,9.0,19.0,63.0,57.0,1019.9,1020.5,NaN,NaN,19.1,20.7
861,2011-7-12,Adelaide,7.9,11.4,0.0,1.0,0.5,N,20.0,NNE,...,7.0,7.0,70.0,59.0,1028.7,1025.7,NaN,NaN,8.4,11.3
2906,2015-8-24,Adelaide,9.2,14.3,0.0,NaN,NaN,SE,48.0,SE,...,17.0,19.0,64.0,42.0,1024.7,1024.1,NaN,NaN,9.9,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2223,2009-5-8,Woomera,9.2,20.6,0.0,5.2,10.4,ESE,37.0,SE,...,19.0,19.0,64.0,34.0,1030.5,1026.9,0.0,1.0,13.7,20.1
1984,2014-5-26,Woomera,15.5,23.6,0.0,24.0,NaN,NNW,43.0,NNE,...,9.0,26.0,49.0,37.0,1014.2,1010.3,7.0,7.0,18.0,21.5
1592,2012-1-10,Woomera,16.8,26.7,0.0,10.0,5.3,SW,46.0,S,...,20.0,22.0,52.0,33.0,1019.1,1016.8,4.0,6.0,18.3,24.9
2824,2015-11-3,Woomera,16.2,28.5,7.8,4.2,4.5,WSW,80.0,NE,...,26.0,50.0,76.0,53.0,1009.6,1006.8,6.0,7.0,20.5,26.2
1005,2010-5-14,Woomera,3.9,19.3,0.0,5.8,10.5,NE,33.0,ENE,...,15.0,13.0,43.0,19.0,1020.2,1016.4,1.0,1.0,11.5,18.5

In [22]:
Xtrainc.loc[Xtrainc.iloc[:,0]=="2015-8-24",:]
#发现在2015-8-24有两个不同地点的数据，所以日期是有重复的

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2015-8-24,Katherine,17.5,36.0,0.0,8.8,NaN,ESE,26.0,NNW,...,17.0,15.0,57.0,NaN,1016.8,1012.2,0.0,NaN,27.5,NaN
2906,2015-8-24,Adelaide,9.2,14.3,0.0,NaN,NaN,SE,48.0,SE,...,17.0,19.0,64.0,42.0,1024.7,1024.1,NaN,NaN,9.9,13.4

In [23]:
#我们把“今天下雨影响明天下雨”这个看似是日期影响的指标，转换成今天的降雨量对明天的影响，即Rainfall这个特征与标签之间的关系

In [24]:
#为了使用Rainfall是否大于某个数来判断是否下雨。首先检查Rainfall是否为空
Xtrain["Rainfall"].head(20)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.2
8      0.0
9      0.2
10     1.0
11     0.0
12     0.2
13     0.0
14     0.0
15     3.0
16     0.2
17     0.0
18    35.2
19     0.0
Name: Rainfall, dtype: float64

In [71]:
#如果Rainfall>1就把RainToday写为Yes
Xtrain.loc[Xtrain["Rainfall"]>=1,"RainToday"]="Yes"
Xtrain.loc[Xtrain["Rainfall"]<1,"RainToday"]="No"
Xtrain.loc[Xtrain["Rainfall"]==np.nan,"RainToday"]=np.nan
Xtest.loc[Xtrain["Rainfall"]>=1,"RainToday"]="Yes"
Xtest.loc[Xtrain["Rainfall"]<1,"RainToday"]="No"
Xtest.loc[Xtrain["Rainfall"]==np.nan,"RainToday"]=np.nan

In [73]:
Xtrain.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8,High humidity summer warm winter,17.5,36.0,0.0,8.8,NaN,ESE,26.0,NNW,...,15.0,57.0,NaN,1016.8,1012.2,0.0,NaN,27.5,NaN,No
1,12,Cool temperate,9.5,25.0,0.0,NaN,NaN,NNW,33.0,NE,...,17.0,59.0,31.0,1020.4,1017.5,NaN,NaN,14.6,23.6,No
2,4,Mild temperate,13.0,22.6,0.0,3.8,10.4,NaN,NaN,NE,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,No
3,11,Mild temperate,13.9,29.8,0.0,5.8,5.1,S,37.0,N,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,No
4,4,Hot dry summer cool winter,6.0,23.5,0.0,2.8,8.6,NNE,24.0,E,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,No

In [74]:
Xtest.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1,Cool temperate,22.0,27.8,25.2,NaN,NaN,SSW,57.0,S,...,37.0,91.0,86.0,1006.6,1008.1,NaN,NaN,26.2,23.1,No
1,3,Mild temperate,12.0,18.6,2.2,3.0,7.8,SW,52.0,SW,...,28.0,88.0,62.0,1020.2,1019.9,8.0,7.0,14.8,17.5,No
2,3,Cool temperate,9.1,13.3,NaN,NaN,NaN,NE,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,10,Warm temperate,13.1,20.3,0.0,NaN,NaN,SW,33.0,W,...,24.0,40.0,51.0,1021.3,1019.5,NaN,NaN,16.8,19.6,No
4,11,Mild temperate,12.2,20.0,0.4,NaN,NaN,E,33.0,SW,...,19.0,92.0,69.0,1015.6,1013.2,8.0,4.0,13.6,19.0,No

In [27]:
Xtrain.loc[:,"RainToday"].value_counts()
#这样就创建了今天是否下雨，有2642天不下雨，825天下雨

No     2642
Yes     825
Name: RainToday, dtype: int64

In [28]:
#尽管日期本身不能影响下雨，但是日期所在的月份可以影响下雨
#提取日期中的月份
int(Xtrain.loc[0,"Date"].split("-")[1])

8

In [29]:
Xtrain["Date"]=Xtrain["Date"].apply(lambda x:int(x.split("-")[1]))
#apply是对dataframe上的某一列进行处理的一个函数
#lambda x 是匿名函数，表示在dataframe上这一列中的每一行执行冒号后的命令
#这种方法比用循环快很多

<ipython-input-29-5b0a3f152842>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xtrain["Date"]=Xtrain["Date"].apply(lambda x:int(x.split("-")[1]))

In [30]:
Xtrain.head()
#这样date中只是月份了

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8,Katherine,17.5,36.0,0.0,8.8,NaN,ESE,26.0,NNW,...,15.0,57.0,NaN,1016.8,1012.2,0.0,NaN,27.5,NaN,No
1,12,Tuggeranong,9.5,25.0,0.0,NaN,NaN,NNW,33.0,NE,...,17.0,59.0,31.0,1020.4,1017.5,NaN,NaN,14.6,23.6,No
2,4,Albany,13.0,22.6,0.0,3.8,10.4,NaN,NaN,NE,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,No
3,11,Sale,13.9,29.8,0.0,5.8,5.1,S,37.0,N,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,No
4,4,Mildura,6.0,23.5,0.0,2.8,8.6,NNE,24.0,E,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,No

In [31]:
Xtrain.loc[:,"Date"].value_counts()

3     334
5     324
7     316
6     302
9     302
1     300
11    299
10    282
4     265
2     264
12    259
8     253
Name: Date, dtype: int64

In [32]:
#替换完之后我们需要修改列的名称
Xtrain=Xtrain.rename(columns={"Date":"Month"})

In [33]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8,Katherine,17.5,36.0,0.0,8.8,NaN,ESE,26.0,NNW,...,15.0,57.0,NaN,1016.8,1012.2,0.0,NaN,27.5,NaN,No
1,12,Tuggeranong,9.5,25.0,0.0,NaN,NaN,NNW,33.0,NE,...,17.0,59.0,31.0,1020.4,1017.5,NaN,NaN,14.6,23.6,No
2,4,Albany,13.0,22.6,0.0,3.8,10.4,NaN,NaN,NE,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,No
3,11,Sale,13.9,29.8,0.0,5.8,5.1,S,37.0,N,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,No
4,4,Mildura,6.0,23.5,0.0,2.8,8.6,NNE,24.0,E,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,No

In [ ]:
#接下来处理地点
Xtrain.loc[:,"Location"].value_counts().count()
#我们发现一共有49个类别，一旦超过25个类别的分类变量，就会自动将其当做连续型变量

In [70]:
Xtest["Date"]=Xtest["Date"].apply(lambda x:int(x.split("-")[1]))
Xtest=Xtest.rename(columns={"Date":"Month"})
Xtest.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,1,Cool temperate,22.0,27.8,25.2,NaN,NaN,SSW,57.0,S,...,2.0,37.0,91.0,86.0,1006.6,1008.1,NaN,NaN,26.2,23.1
1,3,Mild temperate,12.0,18.6,2.2,3.0,7.8,SW,52.0,SW,...,28.0,28.0,88.0,62.0,1020.2,1019.9,8.0,7.0,14.8,17.5
2,3,Cool temperate,9.1,13.3,NaN,NaN,NaN,NE,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Warm temperate,13.1,20.3,0.0,NaN,NaN,SW,33.0,W,...,15.0,24.0,40.0,51.0,1021.3,1019.5,NaN,NaN,16.8,19.6
4,11,Mild temperate,12.2,20.0,0.4,NaN,NaN,E,33.0,SW,...,7.0,19.0,92.0,69.0,1015.6,1013.2,8.0,4.0,13.6,19.0

In [35]:
"""
现在我们表中的地点是一些气象站的名称，但是由于49个类别太多
我们得对这些地点做一个分类，在地图上搜索澳大利亚的气候，
发现一共是8个气候区域，然后澳大利亚主要城市的气候类型就确定了
接下来将这49个气象站地点计算出距离哪个主要城市最近，然后就标记为这个城市所对应的气候
"""

'\n现在我们表中的地点是一些气象站的名称，但是由于49个类别太多\n我们得对这些地点做一个分类，在地图上搜索澳大利亚的气候，\n发现一共是8个气候区域，然后澳大利亚主要城市的气候类型就确定了\n接下来将这49个气象站地点计算出距离哪个主要城市最近，然后就标记为这个城市所对应的气候\n'

In [36]:
cityll=pd.read_csv(r"C:\Users\hp\Desktop\python\机器学习菜菜\sklearnjqxx_jb51\【机器学习】菜菜的sklearn课堂(1-12全课)\08支持向量机下\cityll.csv",index_col=0)
city_climate=pd.read_csv(r"C:\Users\hp\Desktop\python\机器学习菜菜\sklearnjqxx_jb51\【机器学习】菜菜的sklearn课堂(1-12全课)\08支持向量机下\Cityclimate.csv")

In [37]:
cityll.head()#这个是澳大利亚地图上每个

           City  Latitude  Longitude Latitudedir Longitudedir
0      Adelaide  34.9285°  138.6007°          S,            E
1        Albany  35.0275°  117.8840°          S,            E
2        Albury  36.0737°  146.9135°          S,            E
3       Wodonga  36.1241°  146.8818°          S,            E
4  AliceSprings  23.6980°  133.8807°          S,            E

In [38]:
city_climate.head()#澳大利亚统计局做的每个城市对应的气候

           City                      Climate
0      Adelaide            Warm temperate
1        Albany            Mild temperate
2        Albury  Hot dry summer, cool winter
3       Wodonga  Hot dry summer, cool winter
4  AliceSprings  Hot dry summer, warm winter

In [39]:
#接下来，我们将这两张表处理成可以使用的样子，首先去掉cityll中经纬度的度数符号，然后将两张表合并起来

In [40]:
#去掉度数符号
cityll["Latitudenum"]=cityll["Latitude"].apply(lambda x:float(x[:-1]))
cityll["Longitudenum"]=cityll["Longitude"].apply(lambda x:float(x[:-1]))

In [41]:
cityll.head()

,City,Latitude,Longitude,Latitudedir,Longitudedir,Latitudenum,Longitudenum
0,Adelaide,34.9285°,138.6007°,"S,",E,34.9285,138.6007
1,Albany,35.0275°,117.8840°,"S,",E,35.0275,117.8840
2,Albury,36.0737°,146.9135°,"S,",E,36.0737,146.9135
3,Wodonga,36.1241°,146.8818°,"S,",E,36.1241,146.8818
4,AliceSprings,23.6980°,133.8807°,"S,",E,23.6980,133.8807

In [42]:
#观察cityll发现所有经纬度方向都是一致的，全部是南纬，东经，因为澳大利亚在南半球，东半球
#所以经纬度的方向我们可以舍弃了
citylld=cityll.iloc[:,[0,5,6]]

In [43]:
citylld

            City  Latitudenum  Longitudenum
0       Adelaide      34.9285      138.6007
1         Albany      35.0275      117.8840
2         Albury      36.0737      146.9135
3        Wodonga      36.1241      146.8818
4   AliceSprings      23.6980      133.8807
..           ...          ...           ...
95    Wollongong      34.4278      150.8931
96       Wyndham      15.4825      128.1228
97        Yalgoo      28.3445      116.6851
98        Yulara      25.2335      130.9849
99         Uluru      25.3444      131.0369

[100 rows x 3 columns]

In [44]:
#将city_climate中的气候添加到我们的citylld中
citylld["climate"]=city_climate.iloc[:,-1]
#因为citylld中的城市名称和city_climate中的城市名称排列是一样的，所以可以直接合并
citylld.head()

<ipython-input-44-998a0d559703>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citylld["climate"]=city_climate.iloc[:,-1]

           City  Latitudenum  Longitudenum                      climate
0      Adelaide      34.9285      138.6007            Warm temperate
1        Albany      35.0275      117.8840            Mild temperate
2        Albury      36.0737      146.9135  Hot dry summer, cool winter
3       Wodonga      36.1241      146.8818  Hot dry summer, cool winter
4  AliceSprings      23.6980      133.8807  Hot dry summer, warm winter

In [45]:
citylld.loc[:,"climate"].value_counts()
#地图中是8种气候，但是在数据中只有7种气候，第8种是极地气候，在澳大利亚有极地气候，但是城市里没有极地气候

Hot dry summer, cool winter          24
Hot dry summer, warm winter          18
Warm temperate                       18
High humidity summer, warm winter    17
Cool temperate                        9
Mild temperate                        9
Warm humid summer, mild winter        5
Name: climate, dtype: int64

In [46]:
samplecity=pd.read_csv(r"C:\Users\hp\Desktop\python\机器学习菜菜\sklearnjqxx_jb51\【机器学习】菜菜的sklearn课堂(1-12全课)\08支持向量机下\samplecity.csv")
#根据训练集中地点的经纬度来计算距离

In [47]:
samplecity.head()
#由于在表格中把度数符号去掉了，这里就不再进行去掉度数符号的操作了

       City  Latitude  Longitude Latitudedir Longitudedir
0  Canberra   35.2809   149.1300           S            E
1    Sydney   33.8688   151.2093           S            E
2     Perth   31.9505   115.8605           S            E
3    Darwin   12.4634   130.8456           S            E
4    Hobart   42.8821   147.3272           S            E

In [48]:
#舍弃经纬度方向
samplecityd=samplecity.iloc[:,[0,1,2]]
samplecityd.head()

       City  Latitude  Longitude
0  Canberra   35.2809   149.1300
1    Sydney   33.8688   151.2093
2     Perth   31.9505   115.8605
3    Darwin   12.4634   130.8456
4    Hobart   42.8821   147.3272

In [49]:
#现在有了气象站的经纬度，也有了主要城市的经纬度，接下来就可以计算气象站离哪个城市最近

In [50]:
#首先使用radians将角度转换成弧度
from math import radians, sin, cos, acos
citylld.loc[:,"slat"] = citylld.iloc[:,1].apply(lambda x : radians(x))
citylld.loc[:,"slon"] = citylld.iloc[:,2].apply(lambda x : radians(x))
samplecityd.loc[:,"elat"] = samplecityd.iloc[:,1].apply(lambda x : radians(x))
samplecityd.loc[:,"elon"] = samplecityd.iloc[:,2].apply(lambda x : radians(x))

D:\anaconda\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
D:\anaconda\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [51]:
import sys
for i in range(samplecityd.shape[0]):
    slat = citylld.loc[:,"slat"]
    slon = citylld.loc[:,"slon"]
    elat = samplecityd.loc[i,"elat"]
    elon = samplecityd.loc[i,"elon"]
    dist = 6371.01 * np.arccos(np.sin(slat)*np.sin(elat) + 
                          np.cos(slat)*np.cos(elat)*np.cos(slon.values - elon))
    city_index = np.argsort(dist)[0]
    #每次计算后，取距离最近的城市，然后将最近的城市和城市对应的气候都匹配到samplecityd中
    samplecityd.loc[i,"closest_city"] = citylld.loc[city_index,"City"]
    samplecityd.loc[i,"climate"] = citylld.loc[city_index,"climate"]

D:\anaconda\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [53]:
#查看最后的结果，需要检查城市匹配是否基本正确
samplecityd.head(100)

,City,Latitude,Longitude,elat,elon,closest_city,climate
0,Canberra,35.2809,149.1300,0.615768,2.602810,Canberra,Cool temperate
1,Sydney,33.8688,151.2093,0.591122,2.639100,Sydney,Warm temperate
2,Perth,31.9505,115.8605,0.557641,2.022147,Perth,Warm temperate
3,Darwin,12.4634,130.8456,0.217527,2.283687,Darwin,"High humidity summer, warm winter"
4,Hobart,42.8821,147.3272,0.748434,2.571345,Hobart,Cool temperate
5,Brisbane,27.4698,153.0251,0.479438,2.670792,Brisbane,"Warm humid summer, mild winter"
6,Adelaide,34.9285,138.6007,0.609617,2.419039,Adelaide,Warm temperate
7,Bendigo,36.7570,144.2794,0.641531,2.518151,Ballarat,Cool temperate
8,Townsville,19.2590,146.8169,0.336133,2.562438,Townsville,"High humidity summer, warm winter"
9,AliceSprings,23.6980,133.8807,0.413608,2.336659,AliceSprings,"Hot dry summer, warm winter"
10,MountGambier,37.8284,140.7804,0.660230,2.457082,KingstonSE,Mild temperate
11,Launceston,41.4332,147.1441,0.723146,2.568149,Launceston,Cool temperate
12,Ballarat,37.5622,143.8503,0.655584,2.510661,Ballarat,Cool temperate
13,Albany,35.0275,117.8840,0.611345,2.057464,Albany,Mild temperate
14,Albury,36.0737,146.9135,0.629605,2.564124,Albury,"Hot dry summer, cool winter"
15,PerthAirport,31.9440,115.9680,0.557528,2.024023,PerthAirport,Warm temperate
16,MelbourneAirport,37.6697,144.8488,0.657460,2.528088,MelbourneAirport,Mild temperate
17,Mildura,34.2080,142.1246,0.597042,2.480542,Mildura,"Hot dry summer, cool winter"
18,SydneyAirport,33.9399,151.1753,0.592363,2.638507,SydneyAirport,Warm temperate
19,Nuriootpa,34.4666,138.9917,0.601556,2.425863,Adelaide,Warm temperate
20,Sale,38.1026,147.0730,0.665016,2.566908,LakesEntrance,Mild temperate
21,Watsonia,37.7080,145.0830,0.658129,2.532176,Ivanhoe,"Hot dry summer, cool winter"
22,Tuggeranong,35.4244,149.0888,0.618272,2.602090,Canberra,Cool temperate
23,Portland,38.3609,141.6041,0.669524,2.471458,MountGambier,Mild temperate
24,Woomera,31.1656,136.8193,0.543942,2.387947,LeighCreek,Warm temperate
25,Cairns,16.9186,145.7781,0.295285,2.544308,Cairns,"High humidity summer, warm winter"
26,Cobar,31.4949,145.8402,0.549690,2.545392,Bourke,"Hot dry summer, cool winter"
27,Wollongong,34.4278,150.8931,0.600878,2.633581,Wollongong,Warm temperate
28,GoldCoast,28.0167,153.4000,0.488984,2.677335,Southport,Cool temperate
29,WaggaWagga,35.1082,147.3598,0.612754,2.571914,Albury,"Hot dry summer, cool winter"
30,NorfolkIsland,29.0408,167.9547,0.506858,2.931363,LordHoweIsland,Warm temperate
31,Penrith,33.7500,150.7000,0.589049,2.630211,SydneyAirport,Warm temperate
32,SalmonGums,32.9879,121.6422,0.575747,2.123057,Norseman,"Hot dry summer, cool winter"
33,Newcastle,32.9283,151.7817,0.574707,2.649090,Newcastle,Warm temperate
34,CoffsHarbour,30.2986,153.1094,0.528810,2.672263,CoffsHarbour,"Warm humid summer, mild winter"
35,Witchcliffe,34.0082,115.1155,0.593555,2.009144,MargaretRiver,Warm temperate
36,Richmond,37.8230,144.9980,0.660136,2.530693,Melbourne,Mild temperate
37,Dartmoor,37.9144,141.2730,0.661731,2.465679,MountGambier,Mild temperate
38,NorahHead,33.2833,151.5667,0.580903,2.645338,Swansea,Cool temperate
39,BadgerysCreek,33.8829,150.7609,0.591368,2.631274,SydneyAirport,Warm temperate
40,MountGinini,35.5294,148.7723,0.620105,2.596566,Canberra,Cool temperate
41,Moree,29.4658,149.8339,0.514275,2.615095,Goondiwindi,"Hot dry summer, warm winter"
42,Walpole,34.9551,116.7696,0.610082,2.038014,Albany,Mild temperate
43,PearceRAAF,31.6666,116.0257,0.552686,2.025030,PerthAirport,Warm temperate
44,Williamtown,32.8150,151.8428,0.572730,2.650157,Newcastle,Warm temperate
45,Melbourne,37.8136,144.9631,0.659972,2.530083,Melbourne,Mild temperate
46,Nhil,36.3328,141.6503,0.634127,2.472264,Horsham,Mild temperate
47,Katherine,14.4521,132.2715,0.252237,2.308573,Katherine,"High humidity summer, warm winter"
48,Uluru,25.3444,131.0369,0.442343,2.287025,Uluru,"Hot dry summer, warm winter"

In [54]:
#查看气候分布
samplecityd["climate"].value_counts()

Warm temperate                       15
Mild temperate                       10
Cool temperate                        9
Hot dry summer, cool winter           6
High humidity summer, warm winter     4
Hot dry summer, warm winter           3
Warm humid summer, mild winter        2
Name: climate, dtype: int64

In [55]:
#确认无误后，取出样本城市所对应的气候，并保存
locafinal=samplecityd.iloc[:,[0,-1]]

In [59]:
locafinal.head()

   Location                            Climate
0  Canberra                  Cool temperate
1    Sydney                  Warm temperate
2     Perth                  Warm temperate
3    Darwin  High humidity summer, warm winter
4    Hobart                  Cool temperate

In [57]:
#改一下列名
locafinal.columns=["Location","Climate"]

In [60]:
#设定locafinal的索引为地点，是为了之后进行map的匹配
locafinal=locafinal.set_index(keys="Location")

In [61]:
locafinal

                                            Climate
Location
Canberra                          Cool temperate
Sydney                            Warm temperate
Perth                             Warm temperate
Darwin            High humidity summer, warm winter
Hobart                            Cool temperate
Brisbane             Warm humid summer, mild winter
Adelaide                          Warm temperate
Bendigo                           Cool temperate
Townsville        High humidity summer, warm winter
AliceSprings            Hot dry summer, warm winter
MountGambier                      Mild temperate
Launceston                        Cool temperate
Ballarat                          Cool temperate
Albany                            Mild temperate
Albury                  Hot dry summer, cool winter
PerthAirport                      Warm temperate
MelbourneAirport                  Mild temperate
Mildura                 Hot dry summer, cool winter
SydneyAirport                     Warm temperate
Nuriootpa                         Warm temperate
Sale                              Mild temperate
Watsonia                Hot dry summer, cool winter
Tuggeranong                       Cool temperate
Portland                          Mild temperate
Woomera                           Warm temperate
Cairns            High humidity summer, warm winter
Cobar                   Hot dry summer, cool winter
Wollongong                        Warm temperate
GoldCoast                         Cool temperate
WaggaWagga              Hot dry summer, cool winter
NorfolkIsland                     Warm temperate
Penrith                           Warm temperate
SalmonGums              Hot dry summer, cool winter
Newcastle                         Warm temperate
CoffsHarbour         Warm humid summer, mild winter
Witchcliffe                       Warm temperate
Richmond                          Mild temperate
Dartmoor                          Mild temperate
NorahHead                         Cool temperate
BadgerysCreek                     Warm temperate
MountGinini                       Cool temperate
Moree                   Hot dry summer, warm winter
Walpole                           Mild temperate
PearceRAAF                        Warm temperate
Williamtown                       Warm temperate
Melbourne                         Mild temperate
Nhil                              Mild temperate
Katherine         High humidity summer, warm winter
Uluru                   Hot dry summer, warm winter

In [66]:
#将locafinal保存成csv
locafinal.to_csv(r"C:\Users\hp\Desktop\python\机器学习菜菜\sklearnjqxx_jb51\【机器学习】菜菜的sklearn课堂(1-12全课)\08支持向量机下\samplelocation.csv")

In [67]:
#现在有了每个样本城市所对应的气候，我们使用气候来替换掉原本气象站的名称
#将location中的内容替换，并且确保匹配进入的气候字符串不含有逗号，气候两边不含有空格
#我们使用re这个模块来消除逗号
#re.sub(希望替换的值，希望被替换的值，要操作的字符串)
#x.strip()是去掉空格的函数
import re
Xtrain["Location"]=Xtrain["Location"].map(locafinal.iloc[:,0].apply(lambda x:re.sub(",","",x.strip())))
Xtest["Location"]=Xtest["Location"].map(locafinal.iloc[:,0].apply(lambda x:re.sub(",","",x.strip())))
#修改特征内容之后，我们使用新列名“climate”来替换之前的列名“Location”
#注意这个命令一旦执行之后，就再没有列“Location”,使用索引是要注意
Xtrain=Xtrain.rename(columns={"Location":"Climate"})
Xtest=Xtest.rename(columns={"Location":"Climate"})

<ipython-input-67-563ee2dd0f26>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xtest["Location"]=Xtest["Location"].map(locafinal.iloc[:,0].apply(lambda x:re.sub(",","",x.strip())))

In [75]:
Xtrain.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8,High humidity summer warm winter,17.5,36.0,0.0,8.8,NaN,ESE,26.0,NNW,...,15.0,57.0,NaN,1016.8,1012.2,0.0,NaN,27.5,NaN,No
1,12,Cool temperate,9.5,25.0,0.0,NaN,NaN,NNW,33.0,NE,...,17.0,59.0,31.0,1020.4,1017.5,NaN,NaN,14.6,23.6,No
2,4,Mild temperate,13.0,22.6,0.0,3.8,10.4,NaN,NaN,NE,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,No
3,11,Mild temperate,13.9,29.8,0.0,5.8,5.1,S,37.0,N,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,No
4,4,Hot dry summer cool winter,6.0,23.5,0.0,2.8,8.6,NNE,24.0,E,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,No

In [76]:
Xtest.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1,Cool temperate,22.0,27.8,25.2,NaN,NaN,SSW,57.0,S,...,37.0,91.0,86.0,1006.6,1008.1,NaN,NaN,26.2,23.1,No
1,3,Mild temperate,12.0,18.6,2.2,3.0,7.8,SW,52.0,SW,...,28.0,88.0,62.0,1020.2,1019.9,8.0,7.0,14.8,17.5,No
2,3,Cool temperate,9.1,13.3,NaN,NaN,NaN,NE,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,10,Warm temperate,13.1,20.3,0.0,NaN,NaN,SW,33.0,W,...,24.0,40.0,51.0,1021.3,1019.5,NaN,NaN,16.8,19.6,No
4,11,Mild temperate,12.2,20.0,0.4,NaN,NaN,E,33.0,SW,...,19.0,92.0,69.0,1015.6,1013.2,8.0,4.0,13.6,19.0,No

In [77]:
#处理完了特征，开始进行日常预处理的步骤
#处理缺失值
#先查看缺失值的情况
Xtrain.isnull().mean()

Month            0.000000
Climate          0.000000
MinTemp          0.004000
MaxTemp          0.003143
Rainfall         0.009429
Evaporation      0.433429
Sunshine         0.488571
WindGustDir      0.067714
WindGustSpeed    0.067714
WindDir9am       0.067429
WindDir3pm       0.024286
WindSpeed9am     0.009714
WindSpeed3pm     0.018000
Humidity9am      0.011714
Humidity3pm      0.026286
Pressure9am      0.098857
Pressure3pm      0.098857
Cloud9am         0.379714
Cloud3pm         0.401429
Temp9am          0.005429
Temp3pm          0.019714
RainToday        0.009429
dtype: float64

In [78]:
#首先找出分类型特征有哪些
cate=Xtrain.columns[Xtrain.dtypes=="object"].tolist()
cate

['Climate', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [79]:
#除了特征类型为“object”的特征们，还有虽然用数字表示，但是本质是分类特征的云层遮蔽程度
cloud=["Cloud9am","Cloud3pm"]
cate=cate+cloud
cate

['Climate',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'Cloud9am',
 'Cloud3pm']

In [80]:
#对于分类型特征，我们使用众数来填补
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
#注意，我们使用训练集数据来训练我们的填补器，本质是在生成训练集中的众数
si.fit(Xtrain.loc[:,cate])
#然后我们用训练集中的众数来同时填补训练集和测试集
Xtrain.loc[:,cate]=si.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate]=si.transform(Xtest.loc[:,cate])

In [81]:
Xtrain.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8,High humidity summer warm winter,17.5,36.0,0.0,8.8,NaN,ESE,26.0,NNW,...,15.0,57.0,NaN,1016.8,1012.2,0.0,7.0,27.5,NaN,No
1,12,Cool temperate,9.5,25.0,0.0,NaN,NaN,NNW,33.0,NE,...,17.0,59.0,31.0,1020.4,1017.5,7.0,7.0,14.6,23.6,No
2,4,Mild temperate,13.0,22.6,0.0,3.8,10.4,W,NaN,NE,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,No
3,11,Mild temperate,13.9,29.8,0.0,5.8,5.1,S,37.0,N,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,No
4,4,Hot dry summer cool winter,6.0,23.5,0.0,2.8,8.6,NNE,24.0,E,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,No

In [82]:
Xtest.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1,Cool temperate,22.0,27.8,25.2,NaN,NaN,SSW,57.0,S,...,37.0,91.0,86.0,1006.6,1008.1,7.0,7.0,26.2,23.1,No
1,3,Mild temperate,12.0,18.6,2.2,3.0,7.8,SW,52.0,SW,...,28.0,88.0,62.0,1020.2,1019.9,8.0,7.0,14.8,17.5,No
2,3,Cool temperate,9.1,13.3,NaN,NaN,NaN,NE,41.0,N,...,NaN,NaN,NaN,NaN,NaN,7.0,7.0,NaN,NaN,No
3,10,Warm temperate,13.1,20.3,0.0,NaN,NaN,SW,33.0,W,...,24.0,40.0,51.0,1021.3,1019.5,7.0,7.0,16.8,19.6,No
4,11,Mild temperate,12.2,20.0,0.4,NaN,NaN,E,33.0,SW,...,19.0,92.0,69.0,1015.6,1013.2,8.0,4.0,13.6,19.0,No

In [83]:
#查看分类型特征是否依然存在缺失值
Xtrain.loc[:,cate].isnull().mean()

Climate        0.0
WindGustDir    0.0
WindDir9am     0.0
WindDir3pm     0.0
RainToday      0.0
Cloud9am       0.0
Cloud3pm       0.0
dtype: float64

In [84]:
Xtest.loc[:,cate].isnull().mean()

Climate        0.0
WindGustDir    0.0
WindDir9am     0.0
WindDir3pm     0.0
RainToday      0.0
Cloud9am       0.0
Cloud3pm       0.0
dtype: float64

In [85]:
#将分类型变量进行编码
#将所有的分类型变量编码为数字，一个类别是一个数字
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
#利用训练集进行fit
oe=oe.fit(Xtrain.loc[:,cate])
#用训练集的编码结果来编码训练和测试特征矩阵
#在这里如果测试特征矩阵报错，就说明测试集中出现了训练集中从未出现的类别
Xtrain.loc[:,cate]=oe.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate]=oe.transform(Xtest.loc[:,cate])

In [86]:
Xtrain.loc[:,cate].head()

   Climate  WindGustDir  WindDir9am  WindDir3pm  RainToday  Cloud9am  Cloud3pm
0      1.0          2.0         6.0         0.0        0.0       0.0       7.0
1      0.0          6.0         4.0         6.0        0.0       7.0       7.0
2      4.0         13.0         4.0         0.0        0.0       1.0       3.0
3      4.0          8.0         3.0         8.0        0.0       6.0       6.0
4      2.0          5.0         0.0         6.0        0.0       2.0       4.0

In [87]:
Xtest.loc[:,cate].head()

   Climate  WindGustDir  WindDir9am  WindDir3pm  RainToday  Cloud9am  Cloud3pm
0      0.0         11.0         8.0        11.0        0.0       7.0       7.0
1      4.0         12.0        12.0         8.0        0.0       8.0       7.0
2      0.0          4.0         3.0         9.0        0.0       7.0       7.0
3      6.0         12.0        13.0         9.0        0.0       7.0       7.0
4      4.0          0.0        12.0         0.0        0.0       8.0       4.0

In [88]:
Xtrain.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8,1.0,17.5,36.0,0.0,8.8,NaN,2.0,26.0,6.0,...,15.0,57.0,NaN,1016.8,1012.2,0.0,7.0,27.5,NaN,0.0
1,12,0.0,9.5,25.0,0.0,NaN,NaN,6.0,33.0,4.0,...,17.0,59.0,31.0,1020.4,1017.5,7.0,7.0,14.6,23.6,0.0
2,4,4.0,13.0,22.6,0.0,3.8,10.4,13.0,NaN,4.0,...,31.0,79.0,68.0,1020.3,1015.7,1.0,3.0,17.5,20.8,0.0
3,11,4.0,13.9,29.8,0.0,5.8,5.1,8.0,37.0,3.0,...,28.0,82.0,44.0,1012.5,1005.9,6.0,6.0,18.5,27.5,0.0
4,4,2.0,6.0,23.5,0.0,2.8,8.6,5.0,24.0,0.0,...,15.0,58.0,35.0,1019.8,1014.1,2.0,4.0,12.4,22.4,0.0

In [90]:
#处理连续型变量：填补缺失值
col=Xtrain.columns.tolist()
col

['Month',
 'Climate',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday']

In [91]:
#把分类型变量的特征去掉
for i in cate:
    col.remove(i)
col

['Month',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [92]:
#实例化模型，使用均值填补
impmean=SimpleImputer(missing_values=np.nan,strategy="mean")
#用训练集来fit模型
impmean=impmean.fit(Xtrain.loc[:,col])
#分别在训练集和测试集上进行均值填补
Xtrain.loc[:,col]=impmean.transform(Xtrain.loc[:,col])
Xtest.loc[:,col]=impmean.transform(Xtest.loc[:,col])

In [93]:
Xtrain.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8.0,1.0,17.5,36.0,0.0,8.800000,7.508659,2.0,26.000000,6.0,...,15.0,57.0,51.651995,1016.8,1012.2,0.0,7.0,27.5,21.719003,0.0
1,12.0,0.0,9.5,25.0,0.0,5.619163,7.508659,6.0,33.000000,4.0,...,17.0,59.0,31.000000,1020.4,1017.5,7.0,7.0,14.6,23.600000,0.0
2,4.0,4.0,13.0,22.6,0.0,3.800000,10.400000,13.0,39.858413,4.0,...,31.0,79.0,68.000000,1020.3,1015.7,1.0,3.0,17.5,20.800000,0.0
3,11.0,4.0,13.9,29.8,0.0,5.800000,5.100000,8.0,37.000000,3.0,...,28.0,82.0,44.000000,1012.5,1005.9,6.0,6.0,18.5,27.500000,0.0
4,4.0,2.0,6.0,23.5,0.0,2.800000,8.600000,5.0,24.000000,0.0,...,15.0,58.0,35.000000,1019.8,1014.1,2.0,4.0,12.4,22.400000,0.0

In [94]:
Xtrain.isnull().mean()

Month            0.0
Climate          0.0
MinTemp          0.0
MaxTemp          0.0
Rainfall         0.0
Evaporation      0.0
Sunshine         0.0
WindGustDir      0.0
WindGustSpeed    0.0
WindDir9am       0.0
WindDir3pm       0.0
WindSpeed9am     0.0
WindSpeed3pm     0.0
Humidity9am      0.0
Humidity3pm      0.0
Pressure9am      0.0
Pressure3pm      0.0
Cloud9am         0.0
Cloud3pm         0.0
Temp9am          0.0
Temp3pm          0.0
RainToday        0.0
dtype: float64

In [95]:
Xtest.isnull().mean()

Month            0.0
Climate          0.0
MinTemp          0.0
MaxTemp          0.0
Rainfall         0.0
Evaporation      0.0
Sunshine         0.0
WindGustDir      0.0
WindGustSpeed    0.0
WindDir9am       0.0
WindDir3pm       0.0
WindSpeed9am     0.0
WindSpeed3pm     0.0
Humidity9am      0.0
Humidity3pm      0.0
Pressure9am      0.0
Pressure3pm      0.0
Cloud9am         0.0
Cloud3pm         0.0
Temp9am          0.0
Temp3pm          0.0
RainToday        0.0
dtype: float64

In [96]:
#处理连续型变量还要看无量纲化（分类型变量无量纲化没有意义）
col.remove("Month")#因为月份也是分类型变量，要去除掉
col

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [97]:
from sklearn.preprocessing import StandardScaler#将数据转换为均值为0，方差为1的数据
#标准化不改变数据的分布，不会把数据变成正态分布
ss=StandardScaler()
ss=ss.fit(Xtrain.loc[:,col])
Xtrain.loc[:,col]=ss.transform(Xtrain.loc[:,col])
Xtest.loc[:,col]=ss.transform(Xtest.loc[:,col])

In [98]:
Xtrain.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,8.0,1.0,0.826375,1.774044,-0.314379,0.964367,0.000000,2.0,-1.085893e+00,6.0,...,-0.416443,-0.646283,0.000000,-0.122589,-0.453507,0.0,7.0,1.612270,0.000000,0.0
1,12.0,0.0,-0.427048,0.244031,-0.314379,0.000000,0.000000,6.0,-5.373993e-01,4.0,...,-0.182051,-0.539186,-1.011310,0.414254,0.340522,7.0,7.0,-0.366608,0.270238,0.0
2,4.0,4.0,0.121324,-0.089790,-0.314379,-0.551534,1.062619,13.0,-1.113509e-15,4.0,...,1.458692,0.531786,0.800547,0.399342,0.070852,1.0,3.0,0.078256,-0.132031,0.0
3,11.0,4.0,0.262334,0.911673,-0.314379,0.054826,-0.885225,8.0,-2.239744e-01,3.0,...,1.107105,0.692432,-0.374711,-0.763819,-1.397352,6.0,6.0,0.231658,0.830540,0.0
4,4.0,2.0,-0.975421,0.035393,-0.314379,-0.854715,0.401087,5.0,-1.242605e+00,0.0,...,-0.416443,-0.592734,-0.815433,0.324780,-0.168855,2.0,4.0,-0.704091,0.097837,0.0

In [99]:
Xtest.head()

,Month,Climate,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,1.0,0.0,1.531425,0.633489,2.871067,0.000000,0.000000,11.0,1.343150,8.0,...,2.161868e+00,1.174369,1.681991,-1.643646,-1.067755,7.0,7.0,1.412848,0.198404,0.0
1,3.0,4.0,-0.035354,-0.646158,-0.036285,-0.794079,0.107073,12.0,0.951369,12.0,...,1.107105e+00,1.013723,0.506733,0.384430,0.700082,8.0,7.0,-0.335927,-0.606132,0.0
2,3.0,0.0,-0.489720,-1.383346,0.000000,0.000000,0.000000,4.0,0.089450,3.0,...,-4.163637e-16,0.000000,0.000000,0.000000,0.000000,7.0,7.0,0.000000,0.000000,0.0
3,10.0,6.0,0.136992,-0.409702,-0.314379,0.000000,0.000000,12.0,-0.537399,13.0,...,6.383207e-01,-1.556609,-0.031928,0.548465,0.640155,7.0,7.0,-0.029125,-0.304431,0.0
4,11.0,4.0,-0.004018,-0.451429,-0.263817,0.000000,0.000000,0.0,-0.537399,12.0,...,5.234093e-02,1.227917,0.849516,-0.301537,-0.303690,8.0,4.0,-0.520009,-0.390632,0.0

In [100]:
#到这里特征工程做完了

In [101]:
#开始建模
from time import time #随时监控我们的模型的运行时间
import datetime
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score, recall_score

In [102]:
Ytrain = Ytrain.iloc[:,0].ravel()
Ytest = Ytest.iloc[:,0].ravel()
#因为现在Y是dataframe的形式，在建模时，需要转换成一维的

In [103]:
#建模选择自然是我们的支持向量机SVC，首先用核函数的学习曲线来选择核函数
#我们希望同时观察，精确性，recall以及AUC分数
times = time() #因为SVM是计算量很大的模型，所以我们需要时刻监控我们的模型运行时间

for kernel in ["linear","poly","rbf","sigmoid"]:
    clf = SVC(kernel = kernel
              ,gamma="auto"
              ,degree = 1
              ,cache_size = 5000
             ).fit(Xtrain, Ytrain)
    result = clf.predict(Xtest)
    score = clf.score(Xtest,Ytest)
    recall = recall_score(Ytest, result)
    auc = roc_auc_score(Ytest,clf.decision_function(Xtest))
    print("%s 's testing accuracy %f, recall is %f', auc is %f" % (kernel,score,recall,auc))
    print(datetime.datetime.fromtimestamp(time()-times).strftime("%M:%S:%f"))

linear 's testing accuracy 0.839333, recall is 0.434402', auc is 0.866648
00:04:000102
poly 's testing accuracy 0.836000, recall is 0.428571', auc is 0.866847
00:04:550388
rbf 's testing accuracy 0.813333, recall is 0.300292', auc is 0.813668
00:06:534352
sigmoid 's testing accuracy 0.655333, recall is 0.154519', auc is 0.437371
00:07:093218

In [104]:
#我们发现每个核函数的recall都不太高，相比之下线性模型的效果最好
#现在开始调参
"""
三个调参的目标
1.希望不计一切代价判断出少数类，得到最高的recall
2.希望追求最高的预测准确率，一切目的都是为了让accuracy更高，我们不在意recall或者auc
3.希望达到recall，roc,accuracy之间的平衡，不追求任何一个也不牺牲任何一个
"""

'\n三个调参的目标\n1.希望不计一切代价判断出少数类，得到最高的recall\n2.希望追求最高的预测准确率，一切目的都是为了让accuracy更高，我们不在意recall或者auc\n3.希望达到recall，roc,accuracy之间的平衡，不追求任何一个也不牺牲任何一个\n'

In [105]:
#1.希望不计一切代价判断出少数类，得到最高的recall
times = time() #因为SVM是计算量很大的模型，所以我们需要时刻监控我们的模型运行时间
for kernel in ["linear","poly","rbf","sigmoid"]:
    clf = SVC(kernel = kernel
              ,gamma="auto"
              ,degree = 1
              ,cache_size = 5000
              ,class_weight="balanced"
             ).fit(Xtrain, Ytrain)
    result = clf.predict(Xtest)
    score = clf.score(Xtest,Ytest)
    recall = recall_score(Ytest, result)
    auc = roc_auc_score(Ytest,clf.decision_function(Xtest))
    print("%s 's testing accuracy %f, recall is %f', auc is %f" % (kernel,score,recall,auc))
    print(datetime.datetime.fromtimestamp(time()-times).strftime("%M:%S:%f"))

linear 's testing accuracy 0.796667, recall is 0.758017', auc is 0.864203
00:04:583627
poly 's testing accuracy 0.797333, recall is 0.749271', auc is 0.867930
00:05:370518
rbf 's testing accuracy 0.800000, recall is 0.568513', auc is 0.818607
00:07:632000
sigmoid 's testing accuracy 0.562000, recall is 0.282799', auc is 0.437197
00:09:026257

In [109]:
clf = SVC(kernel = "linear"
              ,gamma="auto"
              ,degree = 1
              ,cache_size = 5000
              ,class_weight={1:10}#注意，这里写的其实是类别1:10.隐藏了类别0:1这个比例
             ).fit(Xtrain, Ytrain)
result = clf.predict(Xtest)
score = clf.score(Xtest,Ytest)
recall = recall_score(Ytest, result)
auc = roc_auc_score(Ytest,clf.decision_function(Xtest))
print("testing accuracy %f, recall is %f', auc is %f" % (score,recall,auc))
print(datetime.datetime.fromtimestamp(time()-times).strftime("%M:%S:%f"))

testing accuracy 0.630000, recall is 0.915452', auc is 0.861497
03:59:408274

In [110]:
#我们发现随着recall无节制上升，我们的精确度下降的厉害，如果我们一味追求auc和recall，那么我们的模型就算比较不错了

In [111]:
#2.希望追求最高的预测准确率，一切目的都是为了让accuracy更高，我们不在意recall或
#先看看样本不均衡是怎样的
valuec=pd.Series(Ytest).value_counts()
valuec

0    1157
1     343
dtype: int64

In [112]:
valuec[0]/valuec.sum()

0.7713333333333333

In [113]:
#查看模型的特异度（多数类中被正确预测为多数类的比例）
from sklearn.metrics import confusion_matrix as CM
clf = SVC(kernel = "linear"
              ,gamma="auto"
              ,cache_size=5000
             ).fit(Xtrain, Ytrain)
result=clf.predict(Xtest)

In [114]:
cm=CM(Ytest,result,labels=(1,0))
cm

array([[ 149,  194],
       [  47, 1110]], dtype=int64)

In [115]:
specificity=cm[1,1]/cm[1,:].sum()
specificity

0.9593777009507347

In [118]:
#我们发现特异度已经很高了，证明在多数类上已经很难操作了，所以我们只能让少数类更多地判断正确
irange=np.linspace(0.1,1,10)
for i in irange:
    times=time()
    clf = SVC(kernel = "linear"
              ,gamma="auto"
              ,degree = 1
              ,cache_size = 5000
              ,class_weight={1:1+i}#注意，这里写的其实是类别1:10.隐藏了类别0:1这个比例
             ).fit(Xtrain, Ytrain)
    result = clf.predict(Xtest)
    score = clf.score(Xtest,Ytest)
    recall = recall_score(Ytest, result)
    auc = roc_auc_score(Ytest,clf.decision_function(Xtest))
    print("under ratio 1:%f testing accuracy %f, recall is %f', auc is %f" % (1+i,score,recall,auc))
    print(datetime.datetime.fromtimestamp(time()-times).strftime("%M:%S:%f"))

under ratio 1:1.100000 testing accuracy 0.836000, recall is 0.454810', auc is 0.867051
00:04:343098
under ratio 1:1.200000 testing accuracy 0.832667, recall is 0.481050', auc is 0.865826
00:04:447037
under ratio 1:1.300000 testing accuracy 0.832000, recall is 0.507289', auc is 0.865421
00:04:498261
under ratio 1:1.400000 testing accuracy 0.828000, recall is 0.518950', auc is 0.865352
00:04:689075
under ratio 1:1.500000 testing accuracy 0.831333, recall is 0.542274', auc is 0.864758
00:04:928162
under ratio 1:1.600000 testing accuracy 0.831333, recall is 0.559767', auc is 0.865234
00:05:021584
under ratio 1:1.700000 testing accuracy 0.833333, recall is 0.577259', auc is 0.865589
00:05:230538
under ratio 1:1.800000 testing accuracy 0.832667, recall is 0.606414', auc is 0.865854
00:05:322734
under ratio 1:1.900000 testing accuracy 0.832000, recall is 0.612245', auc is 0.865982
00:05:398620
under ratio 1:2.000000 testing accuracy 0.830000, recall is 0.623907', auc is 0.865725
00:05:811007

In [119]:
#没有超过之前linear中最高的准确率
#换个模型试试看
#逻辑回归在线性数据上表现不错（逻辑回归在线性数据上表现不错）
from sklearn.linear_model import LogisticRegression as LR
logclf=LR(solver="liblinear").fit(Xtrain,Ytrain)
logclf.score(Xtest,Ytest)
#达到了0.842，超过了之前的准确度

0.842

In [124]:
C_range=np.linspace(10,15,10)
for C in C_range:
    logclf=LR(solver="liblinear",C=C).fit(Xtrain,Ytrain)
    print(C,logclf.score(Xtest,Ytest))

10.0 0.8426666666666667
10.555555555555555 0.8426666666666667
11.11111111111111 0.8426666666666667
11.666666666666666 0.8426666666666667
12.222222222222221 0.8426666666666667
12.777777777777779 0.8426666666666667
13.333333333333334 0.8426666666666667
13.88888888888889 0.8426666666666667
14.444444444444445 0.8426666666666667
15.0 0.8426666666666667

In [125]:
#稍微上升一点

In [ ]:
#3.希望达到recall，roc,accuracy之间的平衡，不追求任何一个也不牺牲任何一个
#方法：使用学习曲线调整线性核函数中的C